.loginContainer{
    display:flex;
    flex-direction: column;
    color: white;
}
.SignUpContainer{
    background-color: #735751;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 50px;
}
.SignUp{
    margin-left: 375px;
    width: 35%;
}

input[type=text] {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Sans Serif Collection'; font-size: 20px;
    width: 50%;
    padding: 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #A78A7F;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Sans Serif Collection'; font-size: 20px;
    color: white;
    opacity: 1; /* Firefox */
  }
  .forgotpassword{
    margin-left: 375px;
  }

.Button{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    margin: auto;
    width: 25%;
    background-color: #81271B;
    color: white;
    border-radius: 50px;
}

.noaccount{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signuplink{
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

.forgotandclickhere{
    margin: auto;
    width: 50%;
    padding: 16px 32px;
    border: none;
}
.forgotandclickhere:link {
    color: white;
    text-decoration: none;
  }
  
  .forgotandclickhere:visited {
    color: white;
    text-decoration: none;
  }
  
  .forgotandclickhere:hover {
    color: #81271B;
    text-decoration: underline;
  }
  
  .forgotandclickhere:active {
    color: #81271B;
    text-decoration: underline;
  }